// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

@import "mixins";

.card_admin_allposts{
    background-color: white;
    padding: 1em;
    margin: 2em;
    border-radius: .5em;
    margin-bottom: 10em;
    font-size: 1rem;
    @media (min-width: 576px){
        font-size: 1.2rem;
    }
}


.admin_h3{
    font-family: $font_header;
    font-size: 1.3rem;
    padding-bottom: 1em;
    @media (min-width: 576px){
        font-size: 1.5rem;
    }
}

.admin_allposts_button{
    background-color: $secondary_light_purple;
    border-color: $secondary_light_purple;
    color: $primary_blue;
    align-self: center;
}

.admin_allposts_button:hover{
    background-color: $primary_blue;
    border-color: $primary_blue;
    color: $primary_beige;
}

.admin_icon{
    color: $primary_blue;
}

.admin_link{
    a{
    color: $primary_blue;
    text-decoration: none;

    }
    a:hover{
        color: $secondary_light_purple;
        text-decoration: none;
    }
}

.table_width{
    width: 15%;
}

.admin_description{
    display: none;
}





// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){

    .admin_description{
        display: block;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){



}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

}