// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

@import "mixins";

.card_admin_allposts{
    background-color: white;
    padding: 1rem;
    margin: 2em;
    border-radius: .5rem;
    margin-bottom: 10em;
    font-size: 0.7em;
    @media (min-width: 576px){
        font-size: 1em;
    }
}


.admin_h3{
    font-family: $font_header;
    font-size: 1.3em;
    padding-bottom: 1rem;
    @media (min-width: 576px){
        font-size: 1.5em;
    }
}


.admin_allposts_button{
    background-color: $secondary_green;
    //margin-bottom: 1rem;
    align-self: center;
}


.admin_icon{
    color: $primary_blue;
}








// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){



}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

}