@import "mixins";

.error {
  font-size: 1.5em;
  color: red;
  align-self: auto;
}

.notice {
  font-size: 1.5em;
  color: green;
  align-self: auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){

}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

}