@import "mixins";

.contact_hero_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contact_us.jpg");
    min-height: auto;
    max-height: 40em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content_element {
    background: rgba(255, 255, 255, 0);
    max-width: 100%;
    margin: 0 auto;
}

.contact_card {
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 2em;
    margin: 0 1em 1em 1em;
    max-height: 35rem;
    justify-content: center;
    border-radius: .5rem;
    opacity: 0.8;

}

.contact_h2 {
    color: $primary_beige;
}

.contact_button {
    align-self: center;
    padding: 1em;
    font-size: 1rem;
}

.contact_button:hover {
    background-color: $primary_blue;
    border-color: $primary_blue;
    color: $primary_beige;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){

    .contact_container {
        padding: 2em;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

    .about_paragraph {
        font-family: $font_main;
        font-size: 1rem;
        padding: 0.5em;
        
    }

    .contact_card {
        padding-bottom: 2em;
        margin: 0 6em 2em 6em;
        max-height: 35rem;
        

    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){

    .contact_container {
        padding: 2em 6em 4em 6em;
    }

    .contact_card {
        padding-bottom: 2em;
        margin: 0 8em 2em 8em;
        max-height: 35rem;
        

    }


}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

}