@import "mixins";

.navigation_bar{
    background-color: $primary_beige;
    font-family: $font_main;
    font-weight: 100;
    position: sticky;
    width: 100%;
    margin-bottom: 3em;
    height: 6em;
    
    img{
        width: 120px;
        padding-top: 1em;
    }
}

.navbar_logo {
    left: 50%;
    display: block;
}

.header_icons{
    color: $primary_blue;
    size: 5rem;
    border: none;
    padding-top: 1em;
}

.navbar-nav{
    height: 100vh;
    @media (min-width: 992px){
        height: 0;
    }
    .nav_item_top{
        padding-top: 10em;
        @media (min-width: 992px){
           padding: 0;
        }
    }
}

a{
    text-align: center;
    color: $primary_beige;
    }

button{
    padding-top: 1em;
}

button.navbar-toggler{
    border: none;
}

.dropdown-toggle{
    background-color: aqua;
}

