@import "mixins";

body{
    background-color: $primary_beige;
    font-family: $font_main;
    overflow-x: hidden;
}


.blog_post_window{
    max-width: 100%;
}

.main_post_wrapper{
    margin-bottom: 5em;
}


.h1_index{
    font-family: $font_header;
    font-size: 1.6rem;
}

.index_italic{
    font-style: italic;
}

.index_bold{
    font-weight: bold;
}

.index_readmore{
    text-decoration: none;
    margin: 1em 0;
    font-weight: bold;
    a{
        color: $primary_blue; 
    }
    a:hover{
        color: $secondary_light_purple;
        text-decoration: none;
    }
}


.main_picture_frame{
    height: 400px;
    width: 100%;
    overflow: hidden;
    
    .main_picture{
        object-fit: cover;
        max-width: 100%;
        min-height: 100%;
    }
}


.mainpic_icon{
    color: $primary_blue;
    font-size: 2.6rem;
}

.mainpic_icon_comment{
    color: $primary_blue;
    font-size: 2.6rem;
}


.post_content{
    position: absolute;
    width: 100%;
    bottom: -10%;
    margin: 0 -1em;
    overflow: hidden;
}


.post_inner{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 1em 7em;
    text-align: center;
}


.post_share_left{
    position: absolute;
    left: 5%;
    top: 20%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    padding: 2.5em;
}


.post_share_right{
    position: absolute;
    right: 5%;
    top: 20%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    padding: 2.5em;
}


.small_post_wrapper{
    margin-bottom: 5em;
}


.secondary_picture_frame{
    height: 400px;
    width: 100%;
    overflow: hidden;
    
    .secondary_picture{
        object-fit: cover;
        max-width: 100%;
        min-height: 100%;
    }
}


.h2_index{
    font-family: $font_header;
    font-size: 1.6rem;
}


.small_post_content{
    position: absolute;
    width: 100%;
    bottom: -10%;
    margin: 0 -1em;
    overflow: hidden;
}


.small_post_inner{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 1em 7em;
    text-align: center;
}


.index_readall_link{
    padding-bottom: 2em;
    font-size: 1.1em;
    a{
        color: $primary_blue;
        text-decoration: none;
    }
    a:hover{
        color: $secondary_light_purple;
    }
}



@media (min-width: 576px){
    
    .post_inner{
        padding: 2em 4em;
    }
    
    
    .small_post_inner{
        padding: 2em 4em;
    } 
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px){

    .main_post_wrapper{
        margin-bottom: 0em;
    }
    
    
    .h1_index{
        font-size: 3rem;
    }
    
    
    .main_picture_frame{
        height: 450px;
    }


    .mainpic_icon_comment_big{
        color: $primary_blue;
        font-size: 2.6rem;
    }
    

    .mainpic_icon_comment{
        font-size: 1.8rem;
    }


    .post_content{
        width: calc(100% + 92px);
        margin: 0 -4em;
        padding-bottom: 7em;
    }
    
    
    .post_inner{
        background-color: #fff;
        background:rgba(255,255,255, 0.9);
        width: 500px;
        padding: 3em 5em;
    }
    
    
    .post_share_left{
        left: 0;
        background-color: $primary_beige;
    }
    
    
    .post_share_right{
        right: 0;
        background-color: $primary_beige;
    }
    
    
    .small_post_wrapper{
        margin-bottom: 5em;
        margin-top: 5em;
    }
    
    
    .h2_index{
        font-size: 2rem;
    }
    
    
    .small_post_content{
        width: calc(100% + 92px);
        margin: 0 -4em;
        padding-bottom: 7em;
    }
    
    
    .small_post_inner{
        background:rgba(255,255,255, 0.9);
        width: 300px;
        padding: 2em 3em;
    }
    

    .secondarypic_icon{
        color: $primary_blue;
        font-size: 2rem;
    }

}
    

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

}

   