$font_main: 'Open Sans', sans-serif;
$font_header: 'Merriweather', serif;

$primary_beige: #F0F0F0;
$primary_blue: #1C3045;
$secondary_purple: #60495A;
$secondary_green: #A6C9C6;
$secondary_pink: #FAC8CD;
$secondary_light_purple: #D7BCC8;