// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

@import "mixins";


body {

    .register{

        font-family: $font_header;
    }

   

    .card{
        justify-content: center;
        background-color: $secondary_green;
        padding: 1rem;

        /*width: 50%;*/
        margin: 2em;
        border-radius: .5rem;
        margin-bottom: 10em;


    }
    
    .member{
        text-align: center;
    }

}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){

    body {
        
    }

}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

}