// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

@import "mixins";


body {

    .register{
        font-family: $font_header;
    }

    .register_link a{
        color: black;
    }

    .register_link a:hover{
        color: darkcyan;
    }

    .card{
        justify-content: center;
        background-color: $secondary_green;
        padding: 1em;
        border-radius: .5rem;
        margin-top: 2em;
    }
    
    .member{
        text-align: center;
        padding: 2em;
    }

}

/*.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}*/


.readmore{
    text-align: right;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

}