.single_post_main{

    padding: 0 5em;
    max-width: 100rem;

    img.single_post_image{
        max-height: 250px;
        padding: auto 0;
    }

    .single_post_title, .single_post_date{
        font-family: $font_header;
        margin-bottom: 2em;
    }

    .single_post_description{
        font-family: $font_main;
    }

    .single_post_category{
        margin-top: 1.5em;
        font-family: $font_header;
    }

    .single_comment_form{
        padding-bottom: 2em;
        margin-bottom: 2em;

        .single_h2_form{
            font-family: $font_header;
        }

        input.single_comment_title{
            margin-bottom: 2em;
        }

        textarea.single_comment_text{
            width: 100%;
            margin-bottom: 1.5em;
        }

    }

}