.single_post_main{

    img.single_post_image_frame{
        max-height: 250px;
        width: 100%;
        overflow: hidden;
        padding: auto 0;
    }

    img.single_post_image{
        min-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .comment_title, .single_comment_text{
        font-family: $font_header;
    }

    .single_post_title{
        font-family: $font_header;
        margin-bottom: 2em;
    }

    .single_post_description{
        font-family: $font_main;
    }

    .single_post_category, .single_post_date{
        margin-top: 1.5em;
        font-family: $font_main;
    }

    .comments{
            margin: 0 2em;

        .single_comment_form{
            padding-bottom: 2em;
            margin-bottom: 2em;
            max-height: 35rem;

            .single_h2_form{
                font-family: $font_header;
                margin-bottom: 1.5em;
            }

            input.single_comment_title{
                margin-bottom: 2em;
            }

            textarea.single_comment_text{
                width: 100%;
                margin-bottom: 1.5em;
            }
        }

        .printed_comments{
            padding-top: 1.5em;
            padding-left: 3em;

            .hr_printed_comment{
                border-top: 1px solid $secondary_light_purple;
            }
        }

        .delete_comment_trash a{
            color: $primary_blue;
        }

        .delete_comment_trash a:hover{
            color: $secondary_light_purple;
        }

    }

}