// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)

@import "register";
@import "header";
@import "footer";
@import "index";
@import "admin_allposts";
@import "single_post";
@import "blog";
@import "about";
@import "contact";

.card{
    justify-content: center;
    background-color: white;
    padding: 1em;
    border-radius: .5rem;
    margin-top: 2em;
}

.btn-primary{
        background-color: $secondary_light_purple;
        border-color: $secondary_light_purple;
        color: $primary_blue;
}

.btn-primary:hover{
    background-color: $primary_blue;
    border-color: $primary_blue;
    color: $primary_beige;
}


@media (min-width: 576px){

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){

}